/* /Users/star/Capstone/Capstone-Project-/frontend/src/pages/RegisterPage.css */

.register-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto; 
  min-height: 100vh; 
  padding: 20px;
  overflow-y: auto;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  margin: 30px auto;
  text-align: left;
}

.form-container h1 {
  margin-bottom: 10px;
  color: #333;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #555;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form label {
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}

.registration-form input[type="text"],
.registration-form input[type="tel"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form input[type="date"],
.registration-form select[name="gender"],
.registration-form select[name="selectedDoctor"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  height: 40px; /* Consistent height */
}

.custom-select select {
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  height: 40px; /* Consistent height */
}

.terms-checkbox {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.terms-checkbox input {
  margin-right: 10px;
}

.registration-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.registration-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.custom-select select option:disabled {
  color: #999;
}

@media screen and (max-width: 600px) {
  .form-container {
    padding: 20px;
  }

  .registration-form input[type="text"],
  .registration-form input[type="tel"],
  .registration-form input[type="email"],
  .registration-form input[type="password"],
  .registration-form input[type="date"],
  .registration-form select[name="gender"],
  .registration-form select[name="selectedDoctor"],
  .custom-select select {
    height: 35px; /* Adjusted height for smaller screens */
  }

  .registration-form button {
    padding: 10px;
    font-size: 1em;
  }
}
