.sign-in-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
  }
  
  .sign-in-form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
  }
  
  .sign-in-form input[type="email"],
  .sign-in-form input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .sign-in-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
  }
  
  .sign-in-form button:hover {
    background-color: #0056b3;
  }
  .error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .register-link {
    margin-top: 15px;
    color: #007bff;
  }
  
  .register-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }