  .App {
    text-align: center;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    overflow-y: auto;
  }


  .profile-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .card button {
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  body, html, #root {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #c1cfbf;
    height: 100%;
    overflow-y: auto;
    background-image: url('/public/images/background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
  }
  #root::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); 
    z-index: 1; 
    pointer-events: none; 
  }
  
  .App {
    position: relative; 
    z-index: 2;
  }
  body {
    font-family: Arial, sans-serif;
    background: #c1cfbf;
  }
  
  
